body {
    background-image: url("../images/background3.jpg");
    background-size: cover;
    font-family: 'Parisienne', cursive;
    /* padding-top: 10px; */
    /* background-repeat:no-repeat; */
    height: 100%; 
    width: 100%;
    /* overflow: hidden; */
}

h1 {
    text-align: center;
    color: rgba(6, 79, 236, 0.808);
    background-color: pink;
    font-weight: bolder;
    padding: 20px;
    /* margin-top: 0px; */
    font-size: 45px;
  }
