body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-family: 'Archivo Narrow', sans-serif;
    padding-top: 10px;
    height: 100%; 
    width: 100%;
    padding: 25px;
}

.container {
	position: relative;
}
p {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bolder;
	padding-top: 5px;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: rgba(6, 79, 236, 0.808);
    background-color:#66ccff;
    font-family: 'Archivo Narrow', sans-serif;
    border-radius: 25px;
    border: 5px solid  rgb(236, 233, 227);
    font-weight: bolder;
    padding: 30px;
    /* margin-top: 0px; */
    font-size: 45px;
  }

  .topic {
    margin: 10px;
   }

.buttons-view {
    border-radius: 25px;
    border: 5px solid rgb(236, 233, 227);
    padding: 15px;
}

.topic {
    font-size: 16px;
    font-weight: lighter;
} */

.disney-name{
    margin: 20px;
    float: left;
} */

p {
    color:rgb(236, 233, 227);
    margin-top: 20px;
    line-height: 16px;
} 

img {
    border-radius: 20px;
    margin-top: 2px;
} 

